#{extends 'wechat/service/appIscrollTwoShow.html' /}

<body>

<!-- main -->
<div class="p-xtmain">
	<input type="hidden" id="divType" value="0"/>
    <ul class="flex p-xtxxkul" style="background-color: #fff">
        <li class="flex-1 cur" onclick="checkDiv(0)">最后回复</li>
        <li class="flex-1" onclick="checkDiv(1)">最新发布</li>
    </ul>
    <div class="p-xtabox">
    	<div class="" id="wrapper" style="bottom: .5rem;top: 4.5rem">
    	<div class="p-038box">
        <ul class="p-sqlistul" id="indexpro">
        
        	#{list items:questionPage.page,as:'t'}
            <li onclick="window.location.href='/app/myPostsInfo?id='+${t.posts_id}+'&userId=${userId}&showType=1'">
                <h5>【${t.title}】 &nbsp;&nbsp;&nbsp;#{if t.content.length() > 10}${t.content.substring(0,10)}...#{/if}#{else}${t.content}#{/else}#{if t.show_image == 1}<img src="/public/images/p-sqguan.png" alt="">#{/if}</h5>
                <div class="p-sqlaiy flex">
                    <div class="flex-1">回复：${t.timeBetween}&nbsp;&nbsp;&nbsp;${t.userName}</div>
                    <div class="">
                        <span class="p-sqhuif"><i class="bgico"></i>${t?.answers_count}</span>
                        <span class="p-sqliul"><i class="bgico"></i>${t?.read_count}</span>
                    </div>
                </div>
            </li>
            #{/list}
            
        </ul>
        
         	<div id="pullUp1">
		    	#{if questionPage.page.size() > 0}<span class="pullUpIcon" id="pullUpIcons"></span><span class="pullUpLabel" id="pullShowT">上拉加载更多...</span>#{/if}
		   	</div>
		 </div></div>
    </div>
   
    <div class="p-xtabox none">
    	<div class="" id="wrapper01" style="bottom: .5rem;top: 4.5rem">
    	<div class="p-038box">
        <ul class="p-sqlistul" id="indexpro1">
            #{list items:page.page,as:'t'}
            <li onclick="window.location.href='/app/myPostsInfo?id='+${t.id}+'&userId=${userId}&showType=1'">
                <h5>【${t?.title}】 &nbsp;&nbsp;&nbsp;#{if t.content.length() > 10}${t.content.substring(0,10)}...#{/if}#{else}${t.content}#{/else}#{if t.show_image == 1}<img src="/public/images/p-sqguan.png" alt="">#{/if}</h5>
                <div class="p-sqlaiy flex">
                    <div class="flex-1">发布：${t?.show_time?.format('yyyy-MM-dd')}&nbsp;&nbsp;&nbsp;${t?.name}</div>
                    <div class="">
                        <span class="p-sqhuif"><i class="bgico"></i>${t?.answers_count}</span>
                        <span class="p-sqliul"><i class="bgico"></i>${t?.read_count}</span>
                    </div>
                </div>
            </li>
           	#{/list}
            
        </ul>
        
         	<div id="pullUp2">
		    	#{if page.page.size() > 0}<span class="pullUpIcon2" id="pullUpIcons2"></span><span class="pullUpLabel2" id="pullShowT2">上拉加载更多...</span>#{/if}
		   	</div>
		   </div>
    	</div>
    </div>
</div>
<div class="p-xtbotcon opcity0">
        <div>
            <a class="p-xtfatie" href="#">发&nbsp;&nbsp;帖</a>
        </div>
    </div>
</body>

<script type="text/javascript">
	function checkDiv(vals){
		$("#divType").val(vals);
	}
	
	
	var currPage = 1;
	var currPage2 = 1;
	var getUserId = '${userId}';
	function pullUpAction () {
		var divType = $("#divType").val();
		if(divType == 0){
			setTimeout(function () {    // <-- Simulate network congestion, remove setTimeout from production!
				currPage = currPage + 1;
			
				$.ajax({
					url: "@{app.AppController.forumActivity()}",
					type: "POST",
					dataType: "json",
					data: {
						"currPage": currPage,
						
						"Mark": 2
					},
					success: function (data) {
						
							var arr = eval(data);
							
							var list = arr.page.page;
							
							if (list.length == 0) {
								$("#pullUp1").removeClass("loading").animate({opacity:'0'},3000);
								$("#pullShowT").html("没有更多了");
								$("#pullUpIcons").removeClass("pullUpIcon");
							} else {
								
								for (var i = 0; i < list.length; i++) {
								
									
									var hrefs="/app/myPostsInfo?id="+list[i].posts_id+"&userId="+getUserId+"&showType=1";
									var imageShow = "";
									if(list[i].show_image == 1){
										imageShow = "<img src='/public/images/p-sqguan.png' alt='' >";
									}
									
									var contentShow ="";
									if(list[i].content.length > 10){
										contentShow = list[i].content.substring(0,10)+"...";
									}else{
										contentShow = list[i].content;
									}
									
									
									$("#indexpro").append("<li onclick=window.location.href='"+hrefs+"'>"+
											"<h5>【"+list[i].title+"】&nbsp;&nbsp;&nbsp;"+contentShow+imageShow+"</h5>"+
											"<div class='p-sqlaiy flex'>"+
											"<div class='flex-1'>回复："+list[i].timeBetween+"&nbsp;&nbsp;&nbsp;"+list[i].userName+"</div>"+
											"<div class=''>"+
											"<span class='p-sqhuif'><i class='bgico'></i>"+list[i].answers_count+"</span>"+
											"<span class='p-sqhuif'><i class='bgico'></i>"+list[i].read_count+"</span>"+
											
									"</div></div></li>");
										}
								myScroll.refresh();
							}
							
						},
						error: function () {
						}
				});
				
			}, 300); 
		}else{
			setTimeout(function () {    // <-- Simulate network congestion, remove setTimeout from production!
				currPage2 = currPage2 + 1;
			
				$.ajax({
					url: "@{app.AppController.forumActivityPosts()}",
					type: "POST",
					dataType: "json",
					data: {
						"currPage": currPage2,
						
						"Mark": 2
					},
					success: function (data) {
						
							var arr = eval(data);
							
							var list = arr.page.page;
							
							if (list.length == 0) {
								$("#pullUp2").removeClass("loading").animate({opacity:'0'},3000);
								$("#pullShowT2").html("没有更多了");
								$("#pullUpIcons2").removeClass("pullUpIcon");
							} else {
								
								for (var i = 0; i < list.length; i++) {
								
									var milliseconds = list[i].show_time.time;  //取出json里面的时间，为Object类型，在此转化为毫秒数
									
									var date = new Date();
									
									date.setTime(milliseconds);
									
									var time2 = date.format("yyyy-MM-dd");
									
									var hrefs="/app/myPostsInfo?id="+list[i].id+"&userId="+getUserId+"&showType=1";
									var imageShow = "";
									if(list[i].show_image == 1){
										imageShow = "<img src='/public/images/p-sqguan.png' alt='' >";
									}
									
									var contentShow ="";
									if(list[i].content.length > 10){
										contentShow = list[i].content.substring(0,10)+"...";
									}else{
										contentShow = list[i].content;
									}
									
									
									$("#indexpro1").append("<li onclick=window.location.href='"+hrefs+"'>"+
											"<h5>【"+list[i].title+"】&nbsp;&nbsp;&nbsp;"+contentShow+imageShow+"</h5>"+
											"<div class='p-sqlaiy flex'>"+
											"<div class='flex-1'>发布："+time2+"&nbsp;&nbsp;&nbsp;"+list[i].name+"</div>"+
											"<div class=''>"+
											"<span class='p-sqhuif'><i class='bgico'></i>"+list[i].answers_count+"</span>"+
											"<span class='p-sqhuif'><i class='bgico'></i>"+list[i].read_count+"</span>"+
											
									"</div></div></li>");
										}
								myScroll.refresh();
							}
							
						},
						error: function () {
						}
				});
				
			}, 300); 
		}
	   
	}
	

</script>