<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/yystyle.css'}" />	
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/shzt.css'}" />	
<script type="text/javascript" src="@{'/public/javascripts/jquery-2.1.0.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/yyjs.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/shzt.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.roundabout2.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.easing.1.3.js'}"></script>
<title>积分明细</title>
</head>

<body>
	<div class="p-aboutjifen">
		<h4>1、积分的获取</h4>
			<p>1）帖子签到：登录亿亿首页-亿亿社区-每日签到板块参与签到赢积分。</p>
			<p>2）客户端签到：点击首页签到自动签到到赢积分。</p>
		<h4>2、积分消耗</h4>
		<p>申购货币基金，额外赠送年化0.2%的收益。</p>
	</div>
</body>
</html>
