#{extends 'common/frontMain.html' /} 
#{set title:'资金托管认证注册' /}

<!-- 内容区域 start -->
<div class="xf_con_box">
	<div class="xf_con_mem_nav"></div>
	<!-- 左边导航区域 -->
	#{include "front/account/AccountHome/homeLeft.control"/}
	<!-- 右侧内容区域 -->
	<div class="xf_mem_Account xf_mem_shzdjkb_box">
		<h3 class="xf_mem_accout_title">账户托管</h3>
		<div class="s_tuguan-list clearfix">
			<dl>
				<dt>#{img src:"${src}",width:"192",height:"61"}#{/img}</dt>
				<dd><p>您还未开通资金托管账户？</p></dd>
			</dl>
		</div>
	</div>
	<!-- 清除浮动 -->
	<div class="clear"></div>
</div>
<script type="text/javascript" src="@{'/public/javascripts/layer/layer.min.js'}"></script>
<script type="text/javascript">
$(function(){
	/* 高亮显示 */
	showHighLightFront(39);
	showHighLightFront2(7, 5);
	
	$.layer({
		type: 2,
		title: '资金托管认证注册',
		maxmin: false,
		area: ['877px', '566px'],
		border: [8, 0.3, '#000'],
		shade: [0.5, '#000'],
		shadeClose: false,
		closeBtn: [0, true],
		fix: true,
		iframe: {src : '@{payment.PaymentBaseAction.check}'},
		end: function(index){
			setTimeout("redirect()", 100);
		}
	});
});

function redirect() {
	%{
		business.User currUser = business.User.currUser();
	}%
	
	#{if org.apache.commons.lang.StringUtils.isNotBlank(currUser?.ipsAcctNo)}
		window.location.href="@{front.account.AccountHome.home}";
	#{/if} 
	#{else}
		window.location.href="@{front.home.HomeAction.home}";
	#{/else}
}
</script>