<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- <title>#{get 'title' /}</title> -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta content="telephone=no" name="format-detection">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/wechat/style.css" />

<script type="text/javascript" src="/public/javascripts/wechat/iscroll.js"></script>

<!-- zepto.min.js 必须引在menu.js前面，而且zepto.min.js与 jquery-2.0.js有冲突 -->
<script type="text/javascript" src="/public/javascripts/wechat/zepto.min.js"></script>
<script type="text/javascript" src="/public/javascripts/wechat/menu.js"></script>

<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
<script type="text/javascript" src="@{'/public/javascripts/koala.min.1.5.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery-2.0.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.json-2.4.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/xf_front.js'}"></script>
<script charset="utf-8" src="@{'/public/javascripts/ajaxfileupload.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/common.js'}"></script>
<script src="@{'/public/javascripts/laydate/laydate.js'}"></script>		

</head>
<body>
#{doLayout /}
</body>
</html>