@charset "utf-8";      
.pagination a {
    text-decoration: none;
	border: none;
	color: #585858;
}
.pagination{
	margin: 0 auto;
	background: #fff;
	
	
}


.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
	background: #ee4035;
    color: #fff;
	border: none;
	
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

